.paginate-button {
  background-color: #dd003f;
  padding: 8px 15px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin: 0px 15px;
  outline: none !important;
}
.disable {
  cursor: none;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.5);
}
.pageCount {
  color: #fff;
  margin: 0 5px;
  padding: 10px 5px;
}
